<html>
<head>
	<link rel="stylesheet" type="text/css" href="style/reset.css">
	<link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<h1>Facebook Friendalyzer</h1>
<body>
	<a href="/words/0">My Words</a>
	<% @friends = getFriends($token) %>
	<% @friends.each do |f| %>
		<% url = "/words/" %>
		<% url += f["id"].to_s %>
		<a href="<%= url %>"><%= f["name"] %>'s Words</a>
		<br>
	<% end %>
</body>
</html>